.flex {
	display: flex;
	gap: 4rem;
	align-items: center;
}

.no-gap {
	gap: 0rem;
}

.no-align {
	align-items: flex-start;
}

.spaced {
	justify-content: space-between;
}

.even {
	justify-content: space-around;
}

.column {
	flex-direction: column;
}

.fill {
	flex: 1;
}

.rounded {
	border-radius: 32px;
}

.text-center {
	text-align: center;
}

.full-width {
	width: 100%;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 2rem;
	padding-right: 2rem;
}
